#app-fav-icon{
  position: absolute;
  right: 0;
  top: 0;
  margin: 5%;
}

.card-body {
  position: relative;
}

.card-title {
  font-size: 17px;
}

.card {
  transition: transform .2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  transition: all 0.1s ease;
}
