<div class="app-banner-busca py-5 bg-dark text-light">
  <div class="container">
    <div class="row">
      <header class="col text-center">
        <div class="mb-4">
          <h1 class="fw-bolder">Bem-vindo(a),</h1>
          <h2 class="fs-3">Uma infinidade de possibilidades.</h2>
        </div>

        <form class="d-flex justify-content-center">
          <div class="input-group w-50">
            <input
              (input)="busca(categoriaSelecionada, inputBusca.value)"
              #inputBusca
              type="text"
              class="form-control bg-white text-dark"
              placeholder="Buscar"
              aria-label="Buscar"
            />
            <button
              class="btn btn-outline-secondary dropdown-toggle"
              role="button"
              id="dropdownCategoria"
              data-toggle="dropdown"
              aria-expanded="false"
              aria-haspopup="true"
            >
              {{ categoriaSelecionada || "Tudo" }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownCategoria">
              <li>
                <a
                  class="dropdown-item"
                  (click)="
                    busca((categoriaSelecionada = 'multi'), inputBusca.value)
                  "
                  >Tudo</a
                >
                <a
                  class="dropdown-item"
                  (click)="
                    busca((categoriaSelecionada = 'movie'), inputBusca.value)
                  "
                  >Filmes</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  (click)="
                    busca((categoriaSelecionada = 'person'), inputBusca.value)
                  "
                  >Atores</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  (click)="
                    busca(
                      (categoriaSelecionada = 'collection'),
                      inputBusca.value
                    )
                  "
                  >Séries</a
                >
              </li>
            </ul>

            <button
              (click)="busca(categoriaSelecionada, inputBusca.value)"
              class="btn btn-danger"
              type="button"
            >
              Buscar
            </button>
          </div>
        </form>
      </header>
    </div>
  </div>
</div>

<section class="container my-4" *ngIf="inputBusca.value.length > 1">
  <h1 class="title text-center my-5">Resultados da Busca</h1>
  <div class="row justify-content-between">
    <div
      class="col-sm-6 col-md-4 col-lg-3 mb-4"
      *ngFor="let filme of resultado?.filmes"
    >
      <div class="card h-100 shadow-sm border-0">
        <a class="stretched-link" [routerLink]="['/filmes', filme.id]"></a>

        <img
          [src]="filme.imagem"
          alt="Imagem do filme"
          class="card-img-top rounded-top"
        />
        <i
          *ngIf="filme.favorite_movie"
          id="app-fav-icon"
          class="bi bi-heart-fill link-danger fs-3"
        ></i>

        <div class="card-body d-flex flex-column justify-content-between">
          <p class="card-title fw-bold text-dark mb-1">{{ filme.titulo }}</p>

          <small class="card-subtitle text-muted mt-2">
            {{ filme.lancamento }}
          </small>
        </div>
      </div>
    </div>
  </div>
</section>
