.app-valor-porcentagem {
  font-size: 1.2rem;

}

.app-icone-porcentagem {
  position: absolute;
  top: 10%;
  font-size: 10px;
  right: 1%;
}

.app-nota-porcentagem {
  top: 10px;
  right: 10px;
  font-size: 1rem;
  width: 50px;
  height: 50px;
  display: flex;
  color: #ffffff;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  box-shadow: 0 -.1rem .3rem black;
}
