.title {
  color: #ffffff;
  font-weight: bold;
}

.btn {
  padding: 12px 24px;
  background-color: #a5a5a5;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all .3s;
}

.btn:hover {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
}
