/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
@import "bootstrap-icons";
body{
  background-color: rgba(0, 0, 0, 0.9);
}



.app-borda-nota-mais-baixa {
  border: 3px solid transparent;
  border-top-color: rgba(206, 12, 12, 0.333);
}

.app-borda-nota-baixa {
  border: 3px solid transparent;
  border-top-color: #f624243b;
  border-right-color: #f62424;
}

.app-borda-nota-media {
  border: 3px solid transparent;
  border-top-color: #ffed2321;
  border-right-color: #ffed238f;
  border-bottom-color: #ffed23;
}

.app-borda-nota-alta {
  border: 3px solid #3fe437;
}

